@model AddAvailabilityForStoreVM

<h1>Add Availability For @Model.Store.Name (@Model.Store.Address)</h1>
<form method="post" asp-controller="MicroprocessorStore" asp-action="AddNewAvailabilityForStore">
    <input type="hidden" name="storeId" value="@Model.Store.Id" />
    <div class="form-group">
        <label>Microprocessor: </label>
        <select class="form-control" name="microprocessorId">
            @foreach (Microprocessor microprocessor in Model.AllMicroprocessors)
            {
                <option value="@microprocessor.Id">@microprocessor.Name (@microprocessor.Description)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Price: </label><input class="form-control" type="text" name="price" />
    </div>
    <div class="form-group">
        <label>Quantity: </label><input class="form-control" type="text" name="quantity" />
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Cancel</a>
</form>