@model AddAvailabilityForMicroprocessorVM

<h1>Add Availability For @Model.Microprocessor.Name</h1>
<h3>@Model.Microprocessor.Description</h3>
<form method="post" asp-controller="MicroprocessorStore" asp-action="AddNewAvailabilityForMicroprocessor">
    <input type="hidden" name="microprocessorId" value="@Model.Microprocessor.Id" />
    <div class="form-group">
        <label>Store: </label>
        <select class="form-control" name="storeId">
            @foreach (Store store in Model.AllStores)
            {
                <option value="@store.Id">@store.Name (@store.Address)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Price: </label><input class="form-control" type="text" name="price" />
    </div>
    <div class="form-group">
        <label>Quantity: </label><input class="form-control" type="text" name="quantity" />
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Cancel</a>
</form>