@model AddAvailabilityForStoreVM

<h1>Add Availability For @Model.Store.Name (@Model.Store.Address)</h1>
<form method="post" asp-controller="MicroprocessorStore" asp-action="AddNewAvailabilityForStore">
    <input type="hidden" name="storeId" value="@Model.Store.Id" />
    <label>Microprocessor: </label>
    <select name="microprocessorId">
        @foreach (Microprocessor microprocessor in Model.AllMicroprocessors)
        {
            <option value="@microprocessor.Id">@microprocessor.Name (@microprocessor.Description)</option>
        }
    </select>
    <br />
    <label>Price: </label><input type="text" name="price" />
    <br />
    <label>Quantity: </label><input type="text" name="quantity" />
    <br />
    <button type="submit">Add</button>
    <a href="javascript:history.back()">Cancel</a>
</form>