@model Store

<h1>@Model.Name</h1>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <h3>@ViewBag.Message</h3>
}

<h2>Availabilities</h2>
<a asp-controller="MicroprocessorStore" asp-action="AddAvailabilityForStore" asp-route-storeId="@Model.Id">Add Availability</a>
@if (Model.NumberOfAvailability > 0)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AvailabilityForStore availability in Model.Availability)
            {
                <tr>
                    <td>@availability.Microprocessor.Name</td>
                    <td>@availability.Microprocessor.Description</td>
                    <form method="post" asp-controller="MicroprocessorStore" asp-action="UpdateAvailabilityForStore">
                        <td><input type="text" name="price" value="@availability.Price" /></td>
                        <td><input type="text" name="quantity" value="@availability.Quantity" /></td>
                        <td>
                            <input type="hidden" name="availabilityid" value="@availability.Id" />
                            <input type="hidden" name="storeid" value="@Model.Id" />
                            <input type="hidden" name="microprocessorid" value="@availability.Microprocessor.Id" />
                            <button type="submit">Update</button>
                        </td>
                    </form>
                    <td><a asp-controller="MicroprocessorStore" asp-action="DeleteStoreAvailability" asp-route-avilabilityid="@availability.Id" asp-route-storeid="@Model.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This store has no availailities at the moment.</p>
}