@model Store

@if(!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <h3>@ViewBag.Message</h3>
}

<h1>Update Form For Store ID = @Model.Id:</h1>

<form method="post" asp-controller="MicroprocessorStore" asp-action="UpdateStoreInfo">
    <input type="hidden" name="id" value="@Model.Id" />
    <label>Name:</label><input type="text" name="name" value="@Model.Name" />
    <br />
    <label>Address:</label><input type="text" name="address" value="@Model.Address" />
    <br />
    <button type="submit">Update</button>
    <a asp-controller="MicroprocessorStore" asp-action="Stores">Cancel</a>
</form>